const constants =
{
  firebaseConfig:
  {
    apiKey: '',
    authDomain: '',
    databaseURL: '',
    projectId: '',
    storageBucket: '',
    messagingSenderId: '',
  },
  comicVineConfig,
  {
    apiKey: '',
  }
};

export default constants;